name: Deploy Flutter Web

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    if: |
      startsWith(github.event.head_commit.message, 'fix:') || 
      startsWith(github.event.head_commit.message, 'feat:') || 
      startsWith(github.event.head_commit.message, 'feature:')
    steps:
      - uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Create .env file for build
        run: |
          echo "GEMINI_API_KEY=${{ secrets.GEMINI_API_KEY }}" > .env
          echo "Ambiente configurado para o build."

      - name: Build Web
        run: flutter build web --release --base-href "/$(basename ${{ github.repository }})/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
